// Variables

// Override Bootstrap Colors
$blue: #1e30f3;
$pink: #e21e80;

// Redefine Bootstrap State Colors
$primary: $blue;
$secondary: $pink;

// Bootstrap Variable Functions
$enable-negative-margins: true;

// Override Bootstrap Typography Variables
$font-family-sans-serif: 'Plus Jakarta Sans';
$font-weight-light: 200;

// Custom Border Variables
$border-radius-xl: 1rem;
// Gradient Variables

$Blue: #1e30f3;
$pink: #e21e80;

.title {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $Blue),
    color-stop(100%, $pink));
    background-image: -moz-linear-gradient(bottom, $pink 0%, $Blue 100%);
    width: 100%;
    height: 70px;
}

.indication-couleur {
    background: linear-gradient(#1e30f3, 100%, #e21e80);
  }
  .degrade-lineaire {
    background: linear-gradient(#1e30f3, #e21e80);
}

.multiposition-stops {
    background: linear-gradient(
        to left, 
        #1e30f3 100%,
        #4a57ee 70%,
        #757fec 50%,
        #959ceb 30%,
        #f3c8de 30%,
        #f09bc7 50%,
        #eb72b0 70%,
        #e21e80 100%,
    )
}
