// Variables
$blue: #1e30f3;
$pink: #e21e80;

@forward "bootstrap/scss/bootstrap-utilities" with (
    // Override Bootstrap Colors
    $primary: $blue,
    $secondary: $pink,
);

// Redefine Bootstrap State Colors


// Bootstrap Variable Functions
$enable-negative-margins: true;

// Override Bootstrap Typography Variables
$font-family-sans-serif: 'Plus Jakarta Sans';
$font-weight-light: 200;

// Custom Border Variables
$border-radius-xl: 1rem;

//