@include timeline {
    position: relative;
    background: #eeeeee;
    width: calc( 50% - 40px );
    padding: 15px;
  }

  .timeline article + article {
    margin-top: 20px;
  }

  .timeline article:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: calc( 100% + 26px );
    background: #d6d6d6;
    width: 24px;
    height: 24px;
    border: 6px #346abf solid;
    border-radius: 50%;
    z-index: 2;
  }