
.js-timeline {

    .js-timeline_line {


        .js-timeline-bookmark-container > * {
            position: absolute;
            transform: translateX(-50%);
            left: 50%;

            &.active {
                color:deeppink;
            }
        } 
        
        max-width: 12px;
        .js-timeline_line-progress {
            width: 50%
        }

    }

    .js-timeline_item {


        .js-timeline-card_point-box {

        }
    }
}
