
.raillab-timeline {
    .raillab-timeline-line {
        .raillab-timeline-bookmark-container > * {
            position: absolute;
            transform: translateX(-50%);
            left: 50%;

            &.active {
                color:deeppink;
            }
        } 
        
        max-width: 12px;

        .raillab-timeline-line-progress {
            width: 50%
        }

    }
    
    .raillab-timeline-item {
        margin: 4%;
    }

}
